<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACTo14q8iW8TPAolBvNxISTUcGlKf7NcA</string>
	<key>GCM_SENDER_ID</key>
	<string>690121051237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsBlogFlutterApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>newblog-b8aa8</string>
	<key>STORAGE_BUCKET</key>
	<string>newblog-b8aa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690121051237:ios:a61ed46df341a31edd0a8c</string>
</dict>
</plist>